# Node modules
node_modules/

# Environment variables
.env

# Playwright
playwright-report/
test-results/
blob-report/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

playwright/.auth/